body {
    background-color: #191d21;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 62.5%;
	color: #efefef;
}

header h1 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #39a5f1;
    padding: 1.5rem;
    text-align: center;
    margin: 0 auto;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p {
    line-height: 2rem;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 15px;
}

footer p {
    background-color: #171a1a;
    font-size: 0.8rem;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 0px; 
}

.photo01 {
    transition: all 0.4s ease-in-out;
}

.photo01:hover {
    -webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.photo02 {
    transition: all 0.4s ease-in-out;
}

.photo02:hover {
	-webkit-transform: scale(0.95) rotate(5deg);
	-ms-transform: scale(0.95) rotate(5deg);
	transform: scale(0.95) rotate(5deg);
}

.overlay, .overlayF
{
	position: relative;
	width: 450px;
}

.overlay .bgc-photo {
    background-color: #111;
    position: absolute;
    width: 450px;
    opacity: 0;
    left: 0px;
	bottom: 2px;
    transition: opacity 0.5s ease-in-out;
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.overlay:hover .bgc-photo {
    opacity: .8;
}

.overlayF .bgc-photo
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #27a38d;
	left: 0px;
	bottom: 2px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.overlayF:hover .bgc-photo
{
	opacity: 0.8;
}

.overlayF .bgc-photo {
    box-sizing: border-box;
    padding-top: 70px;
}

.icon
{
    font-size: 5rem;
    text-align: center;
}    

.icon span i {
    margin-top: 50px;
}

.icon p
{
    font-size: 2rem;
    padding-top: 10px;
}

.noLarge {
    overflow: hidden;
    width: 450px;
	height: 278px; 
}

.photo05
{
	transition: all 0.5s ease-in-out;
}

.photo05:hover
{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.photo06
{
	transition: all 0.7s ease-in-out;
}

.photo06:hover
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}
